body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5a88ca;
    color: white;
    text-align: center;
    padding: 2rem;
}

.logo {
    width: 75px;
    height: auto;
}

.user-nav .login-btn {
    background-color: #20a0af;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0;
}

#reservas {
    margin: 2rem;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    background: white;
    padding: 55px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #5a88ca;
    color: white;
    border: none;
}

#galeria {
    text-align: center;
    margin: 2rem;
}

.gallery img {
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

#localizacao {
    text-align: center;
    margin: 2rem;
}

#map {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ddd;
}

#testemunhos {
    margin: 2rem;
    text-align: center;
}

.testimonial {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quarto-item {
    display: inline-block;
    margin: 15px;
    text-align: center;
}

.quarto-item img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.quarto-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}